BAND_OAUTH_CLIENT_ID=
BAND_OAUTH_CLIENT_SECRET=
BAND_OAUTH_SESSION_SECRET=
BAND_OAUTH_PUBLIC_URL=https://creok.onrender.com
BAND_OAUTH_REDIRECT_URI=https://creok.onrender.com/api/band-oauth/callback
BAND_OAUTH_RETURN_URL=https://cdcup.onrender.com/crewart-survey.html
BAND_OAUTH_TARGET_BAND_NO=101005857
BAND_OAUTH_TARGET_BAND_KEY=
BAND_OAUTH_TARGET_BAND_URL=https://www.band.us/band/101005857/post
